apiVersion: v1
kind: Service
metadata:
  name: "express-rest-demo-helm"
  labels:
    app: "express-rest-demo-helm"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: "express-rest-demo-helm"