apiVersion: apps/v1
kind: Deployment
metadata:
  name: "express-rest-demo-helm"
  labels:
    app: "express-rest-demo-helm"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: "express-rest-demo-helm"
  template:
    metadata:
      labels:
        app: "express-rest-demo-helm"
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
